/*
  Name: Ajay Natarajan
  CS 132 Spring 2022
  Date: May 31st, 2022
  This is the cart.css file for my gaming and anime e-commerce site which is
  serving as my final project for CS 132. It is exclusively used by cart.html
  to style product cards, remove buttons, and the checkout section and button.
*/

#checkout > button {
  font-size: 1.5em;
}

#checkout,
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Checkout */
#checkout {
  margin-bottom: 50px;
  color: #000;
}

#checkout > button {
  border: 1px solid black;
  border-radius: 7.5px;
}

.card-container {
  margin-bottom: 20px;
}

.card-container > button {
  outline: none;
  background: transparent;
  border: 1px solid white;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  font-family: inherit;
  border-radius: 5px;
}

.card-container > button:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: 0.5s;
}

.error-msg {
  font-size: 1em;
  margin-top: 20px;
}
