/*
  Name: Ajay Natarajan
  CS 132 Spring 2022
  Date: May 31st, 2022
  This is the faq.css file for my gaming and anime e-commerce site which is
  serving as my final project for CS 132. It is exclusively used by faq.html to
  add unique styling to the FAQs section.
*/

#faqs {
  margin-bottom: 50px;
}
#faqs > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  color: #000;
}

#faqs h3 {
  max-width: 800px;
}

#faqs p {
  max-width: 500px;
}
