/*
  Name: Ajay Natarajan
  CS 132 Spring 2022
  Date: May 31st, 2022
  This is the styles.css file for my gaming and anime e-commerce site which is
  serving as my final project for CS 132. It is used across the entire website 
  to give a gradient and modern feel to everything with some sleek design. 
*/

body,
nav > h1,
nav > ul,
.product-card > p {
  margin: 0;
}

nav,
nav > ul,
#products,
.product-card {
  display: flex;
}

nav,
#products {
  flex-direction: row;
}

nav,
.product-card {
  align-items: center;
}

nav,
nav > ul {
  justify-content: space-between;
}

nav,
.product-card {
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.66) 100%);
}

nav > h1,
h2 {
  font-weight: normal;
}

nav > h1,
.product-card {
  margin-right: 20px;
}

nav > ul,
.product-card {
  margin-left: 20px;
}

h2,
.product-card {
  text-align: center;
}

h2,
#products {
  margin-top: 50px;
}

.product-card,
.card-img {
  margin-top: 30px;
}

.product-card,
.product-card > p {
  margin-bottom: 30px;
}

.product-card:hover,
.modal-container > section button,
#checkout > button {
  cursor: pointer;
}

.product-card > p,
.modal-container > section button,
#checkout > button {
  margin-top: 20px;
}

/* Body */
body {
  font-family: "Play";
  color: #fff;
  background: linear-gradient(
    180deg,
    rgba(36, 0, 255, 0.49) 0%,
    rgba(235, 136, 45, 0.57) 100%
  );
  min-height: 100vh;
}

/* Navbar */
nav {
  padding: 20px 50px 20px 50px;
}

nav > h1 {
  font-size: 1.5em;
  min-width: 245px;
}
nav > ul {
  list-style-type: none;
  padding: 0;
  max-width: 310px;
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav > ul > li {
  margin-left: 10px;
  margin-right: 10px;
}

/* Title */
h2 {
  font-size: 2em;
}

/* Product Cards */
#products {
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.product-card {
  width: 200px;
  height: auto;
  flex-direction: column;
  border-radius: 20px;
}

.product-card:hover {
  transform: scale(1.01);
  transition: 0.5s;
}

.card-img {
  width: 67%;
  border-radius: 10px;
}

.product-card > p {
  width: 150px;
}

.modal-container > section button,
#checkout > button {
  background: transparent;
  font-family: inherit;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
